.alumni-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .alumni-content {
    text-align: center;
  }
  
  .alumni-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .alumni-item {
    margin: 20px;
    text-align: center;
  }
  
  .alumni-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

.alumni-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  /* Efek saat hover pada item alumni */
  .alumni-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  